# CLI
packages/cli/doc-helper

# Website
packages/website/node_modules/
packages/website/dist/
packages/website/.astro/

# OS
.DS_Store

# IDE
.cursor/
.idea/
.vscode/

# Temp
temp/
.mcp.json

.agents
.claude
skills-lock.json
